* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
}

@media only screen and (max-width: 350px) {
  html {
    min-width: 350px;
  }
}

.body {
  background-color: #f5eede;
  color: #68584a;
  font-family: 'Garamond', serif;
  letter-spacing: 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
  height: 100vh;
}

@media only screen and (max-width: 1135px) {
  .container {
    max-width: 100%;
  }
}

.main-card {
  position: relative;
  background-color: #E6DAB8;
  height: 700px;
  width: 100%;
  -webkit-box-shadow: 0 70px 100px -50px rgba(143, 125, 108, 0.8);
          box-shadow: 0 70px 100px -50px rgba(143, 125, 108, 0.8);
  border-radius: 1rem;
  overflow: hidden;
}

@media only screen and (max-width: 1135px) {
  .main-card {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.navbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2.55rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar-brand {
  color: #68584a;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-toggler,
.nav-overlay {
  display: none;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-indicator {
  position: absolute;
  display: block;
  background-color: #68584a;
  height: 3px;
  width: 20px;
  bottom: 0.85rem;
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.8, 0, 0.36, 1);
  transition: -webkit-transform 2s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 2s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 2s cubic-bezier(0.8, 0, 0.36, 1), -webkit-transform 2s cubic-bezier(0.8, 0, 0.36, 1);
}

.nav-indicator.about {
  -webkit-transform: translateX(170px);
          transform: translateX(170px);
}

.nav-indicator.anonymous {
  -webkit-transform: translateX(275px);
          transform: translateX(275px);
}

.nav-item {
  padding: 1rem;
  margin: 0 1rem;
  list-style-type: none;
  text-align: center;
}

.nav-link {
  color: #68584a;
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media only screen and (max-width: 764px) {
  .navbar {
    padding: 1rem;
  }
  .navbar-brand {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 845px) {
  .nav {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E6DAB8;
    top: 0;
    right: -320px;
    height: 100%;
    width: 320px;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .nav.active {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
  .nav-overlay {
    position: fixed;
    display: block;
    background-color: rgba(104, 88, 74, 0.4);
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  .nav-overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .nav-toggler {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
    width: 25px;
    z-index: 3;
    cursor: pointer;
  }
  .nav-toggler span {
    display: block;
    background-color: #68584a;
    height: 1.5px;
    width: 100%;
    margin: 0.2rem;
  }
  .nav-toggler span:last-child {
    width: 60%;
  }
  .nav-indicator {
    display: none;
  }
  .nav-link {
    font-size: 1.8rem;
  }
}

.page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.55rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s .8s;
  transition: opacity .5s .8s;
}

.page.active {
  pointer-events: all;
  opacity: 1;
}

.page.active#anonymous li {
  opacity: 1;
}

.page.active#home::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.page.active#about::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.page.active .card-body,
.page.active .card-title {
  -webkit-animation: come-in 1s 1s forwards cubic-bezier(0.8, 0, 0.36, 1);
          animation: come-in 1s 1s forwards cubic-bezier(0.8, 0, 0.36, 1);
}

.page.active .card-header::before, .page.active .card-header::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.page.active .card-body {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.page.inactive .card-body,
.page.inactive .card-title {
  -webkit-animation: go-out 1s forwards cubic-bezier(0.8, 0, 0.36, 1);
          animation: go-out 1s forwards cubic-bezier(0.8, 0, 0.36, 1);
}

.page.inactive .card-header::before, .page.inactive .card-header::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.page.inactive#home::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.page.inactive#about::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.page::before {
  position: absolute;
  content: '';
  background-color: #68584a;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.36, 1);
}

@-webkit-keyframes come-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes come-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes go-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes go-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.card {
  margin: 0.55rem;
}

.card-body {
  padding: 1rem;
  font-size: 1.15rem;
  opacity: 0;
}

.card-header {
  position: relative;
  padding: 1rem;
}

.card-header::before, .card-header::after {
  position: absolute;
  content: '';
  background-color: #68584a;
  height: 4px;
  top: -1rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.36, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.36, 1);
}

.card-header::before {
  width: 50px;
}

.card-header::after {
  width: 150px;
  opacity: .3;
}

.card-title {
  font-size: 4.55rem;
  line-height: 1;
  opacity: 0;
}

@media only screen and (max-width: 764px) {
  .page {
    padding: 1rem;
  }
  .page.inactive#home::before {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .card {
    margin: 0 auto;
    text-align: center;
  }
  .card-header::before, .card-header::after {
    display: none;
  }
}

@media only screen and (max-width: 845px) {
  .card-title {
    font-size: 3.85rem;
  }
}

#home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("../images/Doge.png") no-repeat;
  background-position: 95% 100%;
  background-size: 520px 580px;
}

#home::before {
  top: 0;
  left: 2.15rem;
  height: 100%;
  width: 280px;
  opacity: .1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

#home .card {
  margin-bottom: 3rem;
  width: 350px;
}

#about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/Doge-about.png") no-repeat;
  background-position: 10% 80%;
  background-size: 550px 580px;
}

#about::before {
  bottom: 0;
  right: 0;
  height: 570px;
  width: 400px;
  opacity: .1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

#about .card {
  margin-top: 3rem;
  width: 430px;
}

#anonymous {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/anonymous.jpg") no-repeat;
  background-size: cover;
  z-index: 3;
}

#anonymous ul {
  position: relative;
  color: white;
  list-style-type: none;
}

#anonymous ul li {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

#anonymous ul li:nth-child(1) {
  font-size: 6rem;
  -webkit-transform: translate(-280%, -100%) rotate(-30deg);
          transform: translate(-280%, -100%) rotate(-30deg);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

#anonymous ul li:nth-child(2) {
  font-size: 3rem;
  -webkit-transform: translate(-100%, -250%);
          transform: translate(-100%, -250%);
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

#anonymous ul li:nth-child(3) {
  font-size: 2rem;
  -webkit-transform: translate(-300%, -50%);
          transform: translate(-300%, -50%);
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
}

#anonymous ul li:nth-child(4) {
  font-size: 5rem;
  -webkit-transform: translate(-180%, -180%) rotate(-20deg);
          transform: translate(-180%, -180%) rotate(-20deg);
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

@media only screen and (max-width: 764px) {
  #home {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-position: center bottom;
    background-size: 420px 480px;
  }
  #home::before {
    height: 100px;
    top: 7rem;
    left: 0;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  #home .card {
    margin: 3rem auto 0;
    width: 500px;
  }
  #about {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-position: center 10%;
    background-size: 320px 360px;
  }
  #about::before {
    height: 170px;
  }
}

@media only screen and (max-width: 568px) {
  #home {
    background-size: 320px 380px;
  }
  #home .card {
    margin-top: 5rem;
    width: 100% !important;
  }
  #about .card {
    margin: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */