
$--color-background: #f5eede;
$--color-primary: #68584a;
$--color-secondary: #E6DAB8;

$--breakpoint-large: 845px;
$--breakpoint-tablet: 764px;
$--breakpoint-mobile: 568px;
$--breakpoint-container: 1135px;